<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/cse.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav">
          <li class="nav-item">
            reddit logo
          </li>
        </ul>
      
      </nav>
    <div class="C1 container-fluid">
        <div class="row">
            <div class="offset-sm-2 col-sm-5">
                <div class="card" id="card1">
                    <div class="user-name">
                        <i class='fas fa-circle' style='font-size:24px'></i> 
                        <div><b> r/politics </b> </div>
                        <div> Posted by xyz/cdndskvn</div>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos suscipit hic obcaecati, tempore quasi, labore dolorum </p>
                        <a href="#">https://yaha-teri-link-daal-dena</a>
                    </div>
                
                    <div class="footer">
                        <i class='fas fa-comment-alt' style='font-size:14px;color:grey'></i> 278 comments
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" id="card2">
                    <div class="acard-header">
                        Top Gaming Communities
                    </div>
                    <div class="card-body">
                        <div class="sidebar">
                        <ul class="list-unstyled align-items-center justify-content-center">
                           <li>absddnn</li>
                           <li>absddnn</li>
                           <li>absddnn</li>
                           <li>absddnn</li>
                           <li>absddnn</li>
                    
                        </ul>
                    </div>
                    </div>
                  </div>
            </div>
        </div>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>