{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'redditpagecss' %}">
</head>
<body>
    <div class="ui inverted menu">
        <a class="active item">
            <i class="reddit icon large"></i>
          Hello {{ UserName }}
    </div>
    <div class="ui stackable grid" style="margin-left: 10em; margin-top: 10em;">
        <div class="left floated nine wide column">
            <h1 class="ui header blue">Top Posts:</h1><br>
            <div class="ui three stackable cards">
                {% for fields in Datas %}
                    <div class="ui card">
                      <div class="content">
                        <div class="header">u/{{ fields.Reddit_Subred }}</div>
                        <div class="meta">
                          <span class="category">{{ fields.Reddit_User }}</span>
                        </div>
                      </div>
                      <div class="content">
                        <div class="description">
                          <h4 class="ui header">
                            {{ fields.Reddit_Title }}
                          </h4>
                          <p><a href="{{ fields.Reddit_Body }}" target= "blank">Click To Open URL</a></p>
                        </div>
                      </div>
                      <div class="extra content">
                        <span class="right floated">
                          <i class="heart outline like icon red"></i>
                          <span style="color: black;">{{ fields.Reddit_Score }} upvotes</span>
                        </span>
                        <i class="comment icon black"></i>
                        <span style="color: black;">{{ fields.Reddit_Comments }} comments</span>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right floated six wide column">
            <h1 class="ui header">Top Users:</h1>
            <div class="ui stackable horizontal large list">
                {% for fields in Users %}
                    <div class="item"><div class="ui big red horizontal label">{{ fields.Reddit_User }}</div></div>
                {% endfor %}
            </div>
            <h1 class="ui header">Top Domains:</h1>
            <div class="ui stackable horizontal large list">
                {% for fields in Domains %}
                    <div class="item"><div class="ui big red horizontal label">{{ fields.Reddit_Domain }}</div></div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>